*.o

# chapter 00
chap00/exer00_00
chap00/exer00_02
chap00/exer00_03
chap00/exer00_04
chap00/exer00_09
chap00/exer00_10

# chapter 01
# no executables

# chapter 02
chap02/exer02_01
chap02/exer02_02
chap02/exer02_03
chap02/exer02_04
chap02/exer02_05
chap02/exer02_07
chap02/exer02_08
chap02/exer02_09

# chapter 03
chap03/exer03_01
chap03/exer03_02
chap03/exer03_03
chap03/exer03_04
chap03/exer03_05
chap03/exer03_06

# chapter 04
chap04/exer04_02
chap04/exer04_03
chap04/exer04_04
chap04/exer04_05
chap04/exer04_06
chap04/exer04_07
chap04/utest_calc_nchars
chap04/utest_calc_seq
chap04/utest_calc_width_prec
chap04/utest_ndig_before_after
chap04/utest_n_unique
chap04/utest_stream_to_words
chap04/utest_vec_dbl_ave

# chapter 05
chap05/exer05_01
chap05/exer05_02_list
chap05/exer05_02_vector
chap05/exer05_03_list
chap05/exer05_03_vector
chap05/exer05_04
chap05/exer05_05
chap05/exer05_06
chap05/exer05_09
chap05/exer05_10
chap05/exer05_11
chap05/utest_centered
chap05/utest_concatenate
chap05/utest_extract_fails_resize
chap05/utest_max_phrase_len
chap05/utest_rotations
chap05/utest_stream_ext_palind
chap05/utest_stream_ext_smallwd
chap05/utest_stream_to_rotations
chap05/utest_stream_upp_seg
chap05/utest_string_to_lower

# chapter 06
chap06/exer06_01
chap06/exer06_02
chap06/exer06_05
chap06/exer06_06
chap06/exer06_07
chap06/exer06_08
chap06/exer06_09
chap06/utest_hcat
chap06/utest_frame

# chapter 07
chap07/exer07_01
chap07/exer07_02
chap07/exer07_03
chap07/exer07_04
chap07/exer07_05
chap07/exer07_06
chap07/exer07_08
chap07/exer07_09
chap07/utest_gen_sentence

# chapter 08
chap08/exer08_01
chap08/exer08_04
chap08/exer08_05_gen_sent
chap08/exer08_05_xref
chap08/utest_lib_algs

# chapter 09
chap09/exer09_01
chap09/exer09_03
chap09/exer09_04
chap09/exer09_05
chap09/exer09_06
